## Problem 1: Unique Words in a Sentence
- Problem Statement Given a sentence, identify all unique words and display:
- The count of unique words
- The unique words themselves

In [5]:
s= "python is easy and python is powerful"
words=s.split()
unique_words= set(words)
unique_words_count=len(unique_words)
print("Unique Words :",unique_words)
print("Unique_words_count :",unique_words_count)

Unique Words : {'powerful', 'python', 'and', 'easy', 'is'}
Unique_words_count : 5

## Problem 2: Highest Salary from Employee Data
- Problem Statement Store employee names and their salaries, and determine which employee has the highest salary.

In [11]:
employees = {"Ravi": 75000,"Anita": 68000,"Kiran": 72000}

max_salary=0
employee_name=""
for name,salary in employees.items():
  if salary > max_salary:
    max_salary= salary
    employee_name= name
print("Highest Salary - ",employee_name,":",max_salary)

Highest Salary -  Ravi : 75000

## Problem 3: Find Maximum and Minimum Values
- Problem Statement Find the maximum and minimum values from a list of numbers.
- Hint :Initialize both maximum and minimum with the first element of the list.
- Use a loop to compare each element.
- Input Format A list of integers where each element represents a numeric value.
- Example Input numbers = [45, 22, 89, 10, 66]

In [16]:
max_value = float("-inf")
min_value = float("+inf")
numbers=[45,22,89,10,66]
for num in numbers:
  if num > max_value:
    max_value=num
  if num < min_value:
    min_value = num
print(f"Max Value: {max_value}")
print(f"Minimum Value : {min_value}")

Max Value: 89
Minimum Value : 10

In [18]:
# Method-2
print("Maximum Value",max(numbers))
print("Minimum Value ",min(numbers))

Maximum Value 89
Minimum Value  10

## Problem 4: Count Products Above a Price Threshold
- Problem Statement Count how many products have a price greater than 1000.
- Hint Use a loop to compare each price with 1000.
- Input Format A list of integers where each element represents the price of a product.
- Example Input prices = [450, 1200, 899, 1500, 300]

In [20]:
prices=[450,1200,899,1500,300]
count=0
for price in prices:
  if price >1000:
    count +=1
print("Products_count_morethan_1000 :",count)

Products_count_morethan_1000 : 2

## Problem 5: Calculate Attendance Percentage
- Problem Statement Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).
- Hint Count the number of "P" values. Divide by the total number of days.
- Example Input attendance = ["P", "P", "A", "P", "P"]

In [22]:
attendance = ["P", "P", "A", "P", "P"]
present_count=0
for i in attendance:
  if i=="P":
    present_count +=1
print("Present Days :",present_count)
print("Attendace Percentage :",(present_count*100/len(attendance)))

Present Days : 4
Attendace Percentage : 80.0

## Problem 6: Remove Duplicate Phone Numbers
- Problem Statement You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.
- Hint Convert the list into a set. Sets automatically remove duplicate values.
- Input Format A list of integers where each integer represents a phone number.
- Example Input phone_numbers = [9876543210, 9123456789, 9876543210]

In [23]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers=[]
for num in phone_numbers:
  if num not in unique_numbers:
    unique_numbers.append(num)
print(unique_numbers)

[9876543210, 9123456789]

## Problem 7: Count Character Frequency
- Problem Statement Count how many times each character appears in a given string.Use a dictionary.
Increment the count for each character occurrence.
- Expected Output: {'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [25]:
text=input("Enter any string : ")
d={}
for ch in text.lower():
  if ch in d:
    d[ch] +=1
  else:
    d[ch] = 1
print(d)

Enter any string : Python is power full
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 1, ' ': 3, 'i': 1, 's': 1, 'w': 1, 'e': 1, 'r': 1, 'f': 1, 'u': 1, 'l': 2}

## Problem 8: Convert List to Tuple
- Problem Statement Convert a list into a tuple and display it.
- Hint Use the tuple() function.
- Expected Output Tuple: (10, 20, 30)

In [26]:
l=[10,20,30,40]
print(tuple(l))

(10, 20, 30, 40)

## Problem 9: Check if a Key Exists in a Dictionary
- Problem Statement Check whether a specific key exists in a dictionary.
- Hint Use the in keyword.

In [27]:
d={"ram":25,"ravi":28,"varshi":26}
key="varshi"
if key in d:
  print("Employee Exists")
else:
  print("Employee Not Exist")

Employee Exists

## Problem 10: Calculate Average Marks
- Problem Statement Calculate the average marks of a student from a list of marks.
-  Hint Calculate the sum of all values.
- Divide by the total number of marks.
- Expected Output Average Marks: 72.5

In [33]:
marks=[75,68,95,99,85,78]
total=0
for i in marks:
  total += i
print("Total Marks :", total)
average_marks=total/len(marks)
print("Average Marks :",round(average_marks,2))

Total Marks : 500
Average Marks : 83.33